@charset "utf-8";

/************
1. 991px
************/

@media only screen and (max-width: 991px)
{
	.home_slider_dots
	{
		left: calc((100vw - 690px) / 2);
	}
	.test_slider_container
	{
		padding-left: 0;
		padding-right: 0;
	}
	.about_intro::before{
		background: rgba(0,0,0,0.7);
	}
	.about_intro_text p,.about_milestone_text,.about_intro_content h2{
		color: #fff;
	}
}

/************
2. 767px
************/

@media only screen and (max-width: 767px)
{
	.about_intro_text p
	{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0px;
		-moz-column-gap: 0px;
		-ms-column-gap: 0px;
		-o-column-gap: 0px;
		column-gap: 0px;
	}
	.milestone_col:not(:last-child)
	{
		margin-bottom: 50px;
	}
}

/************
3. 575px
************/

@media only screen and (max-width: 575px)
{
	.test_text p
	{
		font-size: 14px;
	}
}
