@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Intro
2. Testimonials
3. CTA

******************************/

/*********************************
2. Intro
*********************************/

.about_intro
{
	background:url('../images/introbg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 67px;
	padding-bottom: 91px;
}
.about_intro::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0);
}
.about_intro_content
{
	padding-top: 24px;
	/* z-index: 1; */
}
.about_intro_text
{
	margin-top: 33px;
}
.about_intro_text p
{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
}
.about_milestones
{
	margin-top: 56px;
}
.counter-stat
{
	font-size: 36px;
	font-weight: 700;
	color: #0162AD;
	line-height: 0.75;
}
.about_milestone_text
{
	font-size: 18px;
	font-weight: 600;
	color: #404040;
	line-height: 1.5;
	margin-top: 5px;
}

/*********************************
3. Testimonials
*********************************/

.testimonials
{
	padding-top: 102px;
	padding-bottom: 80px;
	background: #F9F6F1;
}
.testimonials_row
{
	margin-top: 34px;
}
.test_slider_container
{
	padding-left: 70px;
	padding-right: 70px;
}
.test_text p
{
	font-size: 16px;
	line-height: 1.875;
	color: #868686;
}
.test_info
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}
.test_info::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 50%;
	background: #e8e3da;
}
.test_image
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.test_image img
{
	max-width: 100%;
}
.test_text
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
}

.test_slider .owl-item{
	border: 1px solid #e8e3da;
}
.test_slider.owl-theme .owl-nav.disabled + .owl-dots
{
	margin-top: 44px;
}
.test_slider.owl-theme .owl-dots .owl-dot span
{
	width: 8px;
	height: 8px;
	margin: 4px;
}